body {
        background: #f9e933;
        font-family: 'Droid sans';
        font-size: 100%;
    }

    a{
        text-decoration: none;
        color: red;
    }

    a:hover {
        text-decoration: underline;
        color: red;
    }

    h1, h2, h3, h4 {
        font-family: Ubuntu;
        font-size: 120%;
    }

    header, main, footer {
        min-width: 855px;
    }
    header .container, main .container, footer .container {
        max-width: 855px;
        margin: auto;
    }

    header {
        background: white;
        overflow: auto;
        margin-bottom: 3px;
	    padding: 10px;
    }
    header h1 {
        font-size: 35px;
        float: left;
        width: 570px;
    }
    header nav {
        float: right;
        width: 285px;
        margin-top: 7px;
    }
    main {
        background: white;
        overflow: auto;
        padding: 20px;

    }

    main .faq {
        float: left;
        width: 855px;
    }

    main .faq p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    main .main_block {
        float: left;
        width: 570px;
	@@ -67,15 +83,20 @@ body {

    footer {
        overflow: auto;
        padding: 20px;
    }

    footer .contact {
        float: left;
        opacity: 0.8;
        width: 400px;
    }

    footer .sitemap {
        float: right;
        width: 100px;
    }

    .faq h1{
        font-size: 25px;
    }